<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <title>
        Rulers of Kepler - {% block title %}{% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <!-- Custom styles for this template -->
    <!--<link href="{% static 'dashboard.css' %}" rel="stylesheet">-->

    <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'tether.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ie10-viewport-bug-workaround.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'game.js' %}"></script>
</head>
<body>
<div id="map-background"></div>
<ul class="nav nav-pills navbar-fixed-top" role="navigation">
    <li><a id="logoHolder"><img src="{% static 'images/navy2.png' %}"></a></li>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'profile' user.username %}">Profile</a></li>
        <li><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
        <li><a href="{% url 'auth_logout' %}">Log out</a></li>
    {% else %}
        <li><a href="{% url 'auth_login' %}">Login</a></li>
        <li><a href="{% url 'registration_register' %}">Register Here</a></li>
    {% endif %}
</ul>
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
{% block content %}Default content text here.{% endblock %}
<footer id="footer">
    <div class="container">
        <span>&copy;2017 Rulers of Kepler <a href="{% url 'termsandconditions' %}">Terms of Service</a></span>
    </div>
</footer>
</body>
</html>
