{% extends "game/base.html" %}
{% load staticfiles %}
{% block title %}
Game won
{% endblock %}

{% block content %}
<div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="jumbotron-content">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p>Congratulations, you won!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}