{% extends "game/base.html" %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Hi there {{ user.username }}, you are logged in
        <a href="{% url "auth_logout" %}">Log out</a>
    {% else %}
        <div class="content-center" id="content-index">
            <span class="title">Log in or register to play</span>
            <a href="{% url "auth_login" %}">Log in</a>
            <span class="title">or</span>
            <a href="{% url "registration_register" %}">Register</a>
        </div>
    {% endif %}
{% endblock %}