{% extends "game/base.html" %}

{% block title %}
    Rulers of Kepler
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="content-center" id="content-index">
            <span class="title">Hi there {{ user.username }}</span>
            <span class="title"><a href="{% url 'lobbylist' %}">PLAY THE GAME</a></span>
        </div>
    {% else %}
        <div class="content-center" id="content-index">
            <span class="title">Play now!</span>
            <span class="title"><a href="{% url 'auth_login' %}">Log in</a></span>
            <span class="title">or</span>
            <span class="title"><a href="{% url 'registration_register' %}">Register</a></span>
        </div>
    {% endif %}
{% endblock %}