{% extends "game/base.html" %}
{% block title %}
    Leaderboard
{% endblock %}
{% block content %}
    <div class="content-center" id="content-leaderboard">
        {% if stats %}
            <h3 class="title">Leaderboard</h3>
            <table class="table table-hover table-bordered leaderboard text-center">
                <tr>
                    <th>Username</th>
                    <th>Games won</th>
                    <th>Games lost</th>
                    <th>Win/loss ratio</th>
                </tr>
                {% for stat in stats %}
                    <tr>
                        <td><a href="{% url 'profile' stat.name %}">{{ stat.name }}</a></td>
                        <td>{{ stat.wins }}</td>
                        <td>{{ stat.losses }}</td>
                        <td>{{ stat.ratio }}%</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No statistics available</p>
        {% endif %}
    </div>
{% endblock %}