{% extends "game/base.html" %}

{% block title %}
	Lobby List
{% endblock %}

{% block content %}
<div class="content-center" id="content-lobbies">
	<span class="title">
		Lobby List
	</span>
	<div class="lobby">
		<span class="left">Lobby #1</span>
		<span class="right"><a href="/lobby/1/join/">Join</a></span>
	</div>
	<div class="lobby">
		<span class="left">Lobby #2</span>
		<span class="right"><a href="/lobby/2/join/">Join</a></span>
	</div>
	<div class="lobby">
		<span class="left">Lobby #3</span>
		<span class="right"><a href="/lobby/3/join/">Join</a></span>
	</div>
	<div class="lobby">
		<span class="left">Lobby #4</span>
		<span class="right"><a href="/lobby/4/join/">Join</a></span>
	</div>
</div>
{% endblock %}
