{% extends "game/base.html" %}

{% block title %}
    Join a lobby
{% endblock %}

{% block content %}
    <div class="content-center" id="content-lobbies">
	<span class="title">
		Available lobbies
	</span>
        {% if lobbies %}
            <table>
            <tr>
                <th>Name</th>
                <th>Players</th>
                <th></th>
            </tr>
            {% for lobby in lobbies %}
                <tr>
                    <td>{{ lobby.name }}</td>
                    <td>{{ lobby.sessions.all.count }}/{{ max_sessions }}</td>
                    <td><a href="{% url "lobbyjoin" lobby.id %}">Join</a></td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <span>No lobbies available.</span>
        {% endif %}
    <span><a href="{% url "lobbycreate" %}">Create a lobby</a></span>
    </div>
{% endblock %}
