{% extends "game/base.html" %}

{% block title %}
{{ selecteduser.username }} Profile
{% endblock %}

{% block content %}
<div class="content-center" id="content-leaderboard">
    <h3 class="title"><strong>Profile</strong></h3>
    <table class="table table-hover table-bordered text-left">
        <tbody>
        <tr>
            <td>Username:</td>
            <td>{{ selecteduser.username }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ selecteduser.email }}</td>
        </tr>
        <tr>
            <td>Date joined:</td>
            <td>{{ selecteduser.date_joined }}</td>
        </tr>
        <tr>
            <td>Last login:</td>
            <td>{{ selecteduser.last_login }}</td>
        </tr>
        <tr>
            <td>Games played:</td>
            <td>{{ userprofile.games_played }}</td>
        </tr>
        <tr>
            <td>Games Won:</td>
            <td>{{ userprofile.games_won }}</td>
        </tr>
        <tr>
            <td>Games Lost:</td>
            <td>{{ games_lost }}</td>
        </tr>
        <tr>
            <td>Win percentage:</td>
            <td>{{ win_percent }}%</td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}