{% extends "game/base.html" %}

{% block title %}
	Register
{% endblock %}

{% block content %}
<div class="content-center" id="content-index">
	<span class="title">
		Register
	</span>
	<form action="{% url 'register' %}" method="post">
		<div class="inputfield">
			<span class="left">
				Username:
			</span>
			<span class="right">
				<input type="text" name="username" />
			</span>
		</div>
		<div class="inputfield">
			<span class="left">
				Email address:
			</span>
			<span class="right">
				<input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
			</span>
		</div>
		<div class="inputfield">
			<span class="left">
				Password:
			</span>
			<span class="right">
				<input type="password" name="password" />
			</span>
		</div>
		<div class="inputfield">
			<span class="left">
				Confirm password:
			</span>
			<span class="right">
				<input type="password" name="confpassword"  />
			</span>
		</div>
		<div class="inputfield">
			<span class="center">
				<input type="submit" value="Register" />
			</span>
		</div>
	</form>
</div>
{% endblock %}
