{% extends "game/base.html" %}
{% block title %}
    Terms and Conditions
{% endblock %}
{% block content %}
    <div class="content-center" id="content-terms">
        <p class="title">Terms and conditions</p>
        <div class="text-justify">
            <p>Any resemblance to real-life countries, concepts, beliefs, peoples or any other part of or concept in real life is merely a
                coincidence.</p>
            <p>If you are easily offended, then please do not play this game or at least do not take it seriously.</p>
            <p>Most importantly, do not blame the developers, we have no intention of offending you (only our own countries).</p>
        </div>
    </div>
{% endblock %}