{% extends "game/base.html" %}

{% block title %}
	Login
{% endblock %}

{% block content %}
<div class="content-center" id="content-index">
	<span class="title">
		Log in
	</span>
    {% if form.errors %}
        <p>Invalid username or password.</p>
    {% endif %}
	<form action="{% url 'auth_login' %}" method="post">{% csrf_token %}
        <div class="inputfield">
            <span class="left">
                {{ form.username.label_tag }}
            </span>
            <span class="right">
                {{ form.username }}
            </span>
        </div>
        <div class="inputfield">
            <span class="left">
                {{ form.password.label_tag }}
            </span>
            <span class="right">
                {{ form.password }}
            </span>
        </div>
        <div class="inputfield">
            <span class="center">
                <input type="submit" value="Login">
            </span>
        </div>
	</form>
    <span class="title">
        <a href="{% url 'auth_password_reset' %}">Forgot your password?</a>
    </span>
	<span class="title">
		Do not have an account yet?
        <a href="{% url 'registration_register' %}">Register</a>
	</span>
</div>
{% endblock %}
