{% extends "game/base.html" %}

{% block title %}
    Password reset
{% endblock %}
{% block content %}
    <div class="content-center" id="content-index">
        <span class="title">Reset your password</span>
        <form method="post">{% csrf_token %}
            <div class="inputfield">
                <span class="center">
                    {{ form.email.errors }}
                </span>
            </div>
            <div class="inputfield">
                <span class="left">
                    {{ form.email.label_tag }}
                </span>
                <span class="right">
                    {{ form.email }}
                </span>
            </div>
            <div class="inputfield">
                <span class="right">
                    <input type="submit" value="Reset password">
                </span>
            </div>
        </form>
    </div>
{% endblock %}