{% extends "game/base.html" %}
{% load staticfiles %}
{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="content-center">
        <div class="logo">
            <img src="{% static 'images/navy2.png' %}" class="img-responsive" alt="logo"/>
        </div>
    </div>
    <div class="content-center" id="content-index">
	<span class="title">
		Register
	</span>
        <form action="{% url 'registration_register' %}" method="post">{% csrf_token %}
            <span>{{ form.non_field_errors }}</span>
            {% for field in form %}
                <div class="inputfield">
                    <span>{{ field.errors }}</span>
                    <span class="left">{{ field.label_tag }}</span>
                    <span class="right">{{ field }}</span>
                </div>
            {% endfor %}
            <span>By registering you accept our <a href="{% url "termsandconditions" %}" target="_blank">Terms of Service</a></span>
            <div class="inputfield">
			<span class="center">
				<input class="register" type="submit" value="Register">
			</span>
            </div>
        </form>
    </div>
{% endblock %}
